@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* --overlay-color: #03a9f4; */
}

a {
  text-decoration: none;
  color: #111;
}

.head {
  width: 50%;
  padding: 4em 4em 0 4em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #fc8019;
  background-color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  max-width: 10em;
}

#login {
  background-color: #fff;
}

#login:hover {
  color: #fc8019;
}

#signup {
  color: #fff;
}

.register {
  display: flex;
}

.space-right {
  margin: 0.5em;
  padding: 0.5em 0.5em;
  background-color: #111;
}

.space-right > a {
  padding: 0.5em;
}

.space-right.click2 {
  background-color: #fff;
}

.img1 {
  background-image: url("https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_1340/Dinner1-new_s93yyf");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 50%;
}

.showcase {
  display: flex;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active {
  right: 300px;
}

.image {
  width: 50%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  padding: 2em 1em;
}

.text h1 {
  font-size: 2em;
  padding: 1em 0;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
}

.text h2 {
  font-size: 6em;
  font-weight: 800;
  line-height: 1em;
  padding: 2em 0;
  text-transform: uppercase;
}
.text h3 {
  font-size: 0.9em;
  font-weight: 400;
  padding: 0.9em 0;
  line-height: 1em;
  text-transform: uppercase;
}

.text h5 {
  font-weight: 400;
  font-size: 15px;
  color: #a9abb2;
  margin: 30px 0 10px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  padding: 1em 0;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.click4 a {
  display: inline-block;
  font-size: 0.6em;
  padding: 1em 1em 1em 0;
  text-decoration: none;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.dj1 {
  display: flex;
  width: 100%;
}

.dj1 input {
  width: 80%;
  padding: 0.9em;
}

.dj1 input:active {
  border-color: #fc8019;
}

.dj1 .click1 {
  width: 20%;
  background-color: #fc8019;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dj1 a {
  font-size: 0.9em;
  color: #fff;
  font-weight: 700;
}

.sectionfeatures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2b1e16;

  padding: 0.5em 10em 5em 10em;
  text-align: center;
  color: #fff;
}

.sectionfeatures .features {
  max-width: 10em;
}

.sectionfeatures .whitebold {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}

.sectionfeatures p {
  padding-top: 0.5em;
  font-size: 0.7em;
  font-weight: 300;
  color: #e0cbc1;
}

.brown {
  max-width: 7em;
}

.appsection {
  display: flex;
}

.textapp {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 5em;
}

.imgbutton {
  display: flex;
}

.textcontent > h2 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1em;
}

.textcontent > h3 {
  font-weight: 300;
  color: #7e808c;
  line-height: 1.2;
  margin-bottom: 2em;
}

.storebutton {
  margin: 2em 2em 2em 0;
  width: 12em;
  cursor: pointer;
}

.phoness {
  width: 50%;
}

.phoness1 {
  max-width: 80%;
}

.footer1 {
  display: flex;
  justify-content: space-between;
  padding: 2em 10em;
  background-color: #111;
  color: #fff;
}

.col {
  display: flex;
  flex-direction: column;
}

.col .footerlistheading {
  font-size: 0.7em;
  margin-bottom: 1em;
  color: gray;
}

.col .footerlist {
  list-style: none;
}

.col .footerlist .footerlistitems a {
  color: #fff;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.col .footerlist .footerlistitems a:hover {
  font-weight: 600;
}

.footerbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

.footerbutton .s2 {
  position: relative;
  margin: 0 1em 2em 1em;
}

.footerbutton .s2:hover {
  width: 13em;
  transition: 1s ease-in-out;
}

.imgbutton {
  display: flex;
  flex-direction: column;
}

.bottom {
  padding: 2em 10em 1em 10em;
  background-color: #111;
  display: flex;
  justify-content: space-between;
}

.logo2 .bottomlogo {
  max-width: 10em;
}

.copyright {
  color: #fff;
  display: flex;
  align-items: center;
}

.social {
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  position: relative;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover {
  color: var(--overlay-color);
}

@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 2em;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}
